.wizard-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-top: 1px solid var(--border-color);
    background-color: #FAFAFA;
    border-radius: 0px 0px 0px 10px;
    margin-top: auto;
}

.spacer {
    flex: 1;
}

.back-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    font-weight: 600;
    color: var(--text-color);
    padding: 0.5rem 1rem;

    &:hover {
        background-color: transparent;
        text-decoration: underline;
    }
}

.next-btn,
.finish-btn {
    min-width: 120px;
}

@media (max-width: 1023px) {
    .wizard-navigation {
        border-radius: 0px 0px 10px 10px;
    }

}