.wizard-menu {

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--white);
    height: 100%;
}

.step-indicator {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #216610;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    flex-shrink: 0;
    background: linear-gradient(to bottom, #1C540F, #48803B);
    margin-left: -15px;
}

.step-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
    opacity: 1;
    transition: opacity 0.2s;
    border-bottom: 1px solid #4D8F3D;
    padding-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        opacity: 1;

        .step-indicator {
            background-color: #ffffff !important;
            color: #000000;
            font-weight: bold;
            border-color: #41A928;
            background: linear-gradient(to bottom, #ffffff, #ffffff);
        }
    }

    &.completed {
        opacity: 1;

        .step-indicator {
            background-color: #41A928;
            color: var(--white);
            border-color: #216610;
            background: linear-gradient(to bottom, #41A928, #41A928);
        }
    }
}



.step-details {
    padding-top: 0.25rem;
}

.step-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: var(--white);
}

.step-description {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.4;
    padding-right: 20px;
}