.footer {
    background-color: var(--white);
    padding: 0.7rem 0;
    text-align: center;
    color: var(--text-light);
    font-size: 12px;
    margin-top: auto;
    /* Push to bottom if flex container */
}