.step-header {
    margin-top: 2rem;
    padding-left: 1.6rem;
    border-left: 6px solid var(--primary-color);
}

.step-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}



@media (max-width: 1023px) {
    .step-content {
        padding-right: 20px;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem 1rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.input-icon-wrapper {
    position: relative;

    .icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}